@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

body {

  h1 {
    font-size: 40px;
    color: #000000;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px;
    font-weight: 900;
    color: black;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  p {
    font-size: 18px;
    color: #797979;
  }

  p2 {
    font-size: 16px;
    color: #797979;
  }
}




.scrolltab{
  height: 70px;
  width: 100%;
  background-color: #ffffff;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 0%, #000000 100%);
}

.scrolltab a{
  text-decoration: 0;
  font-size: 19px;
  font-weight: 500;
  /* background-color: #999; */
  border-radius: 20px;
  padding: 12px;
  color: rgb(0, 0, 0);
  z-index: 10;
}



.contentscroll{
  height: 700px;
  width: 100%;
}





.scrolltab a:hover{
  /* border: solid 2px black; */
  color: rgb(109, 109, 109);
}























.btnss{
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  margin-left: 120px;
 
}

.btnss a{
  height: 56px;
  width: 180px;
  /* background-color: #6391f3; */
  background: linear-gradient(to right, #5271ff, #5ce1e6);
  border-radius: 35px;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  z-index: 10;
}


.btnss a:hover{
  opacity: .9;
}


/* 
.imagebck{
  width: 100%;
  top: 0;
  position: absolute;

} */










/* .naveffect{
  background: linear-gradient(to bottom, rgb(255, 255, 255, 10), rgba(0, 0, 0, 0));
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 8;
} */

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  /* background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(0, 0, 0, 0)); */
  transition: .5s ease;

}


.nav:hover{
  background-color:white;
}



#globe {
  font-size: 25px;
  color: #000000;
}

.logo a img {
  height: 85px;
}

.logo a {
  margin-left: 25px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.logo .head {
  font-size: 1.9rem;
  font-weight: 900;
  margin-left: 20px;
  background: linear-gradient(to right, #5271ff, #5ce1e6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



.logo .head {
  text-decoration: none;
}

.links {
  display: flex;
  margin-right: 50px;

}

.links li {
  margin-right: 50px;
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;

}

.links li a:hover {
  color: #007bff;

}


















/* CSS for .drop-header */




.drop-header1 a {
  text-decoration: 0;
}

.drop-header2 a {
  text-decoration: 0;
}

.drop-header3 a {
  text-decoration: 0;
}

.drop-header4 a {
  text-decoration: 0;
}

.drop-header5 a {
  text-decoration: 0;
}




.drop-header1 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  /* Transition for opacity */
  background-color: #ffffff;
  /* height: 300px; */
  width: 850px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  top: 90px;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.drop-header1.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  /* Remove delay for visibility transition */
}

.drop-header1 h4 {
  margin-bottom: 30px;
}

.drop-header1 h5 {
  margin-bottom: 15px;
}










.drop-header2 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  /* Transition for opacity */
  background-color: #ffffff;
  /* height: 300px; */
  width: 850px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  top: 90px;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.drop-header2.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  /* Remove delay for visibility transition */
}

.drop-header2 h4 {
  margin-bottom: 30px;
}

.drop-header2 h5 {
  margin-bottom: 15px;
}

.drop-header2 .underdrop {
  display: flex;
  align-items: center;
}

.drop-header2 .underdrop a {
  margin-right: 150px;
}












.drop-header3 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  /* Transition for opacity */
  background-color: #ffffff;
  height: 150px;
  width: 850px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  top: 90px;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.drop-header3.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  /* Remove delay for visibility transition */
}

.drop-header3 h4 {
  margin-bottom: 30px;
}

.drop-header3 h5 {
  margin-bottom: 15px;
}

.drop-header3 .underdrop {
  display: flex;
  align-items: center;
}

.drop-header3 .underdrop a {
  margin-right: 200px;
}










/* .drop-header4 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  background-color: #ffffff;
  height: 300px;
  width: 850px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  top: 90px;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.drop-header4.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.drop-header4 h4 {
  margin-bottom: 30px;
}

.drop-header4 h5 {
  margin-bottom: 15px;
}
 */










.drop-header5 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  /* Transition for opacity */
  background-color: #ffffff;
  /* height: 300px; */
  width: 850px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  top: 90px;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.drop-header5.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  /* Remove delay for visibility transition */
}

.drop-header5 h4 {
  margin-bottom: 30px;
}

.drop-header5 h5 {
  margin-bottom: 15px;
}

.drop-header5 .underdrop {
  display: flex;
  align-items: center;
}

.drop-header5 .underdrop a {
  margin-right: 150px;
}

































.signopt {
  margin-right: 40px;
}





/* Dropdown Button */
.dropbtn {
  background-color: #6391f3;
  color: white;
  padding: 12px;
  font-size: 17px;
  border: none;
  border-radius: 50px;
  width: 180px;
  transform: .5s ease;
  z-index: 10;
}

.dropbtn:active {
  background-color: #6b6b6b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
  z-index: 10;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .a1111 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px 10px 0 0;
  transition: .3s ease;
}

.dropdown-content .a2222 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: .3s ease;
}

.dropdown-content .a3333 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0 0 10px 10px;
  transition: .3s ease;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover, .a1111{
  color: #007bff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}












.newsletter {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 0%, #efefef 100%);
}

.newsletter .n1 {
  align-items: center;
  margin-right: 200px;
}







.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 500px;
  height: 60px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
  border-radius: 60px;
  overflow: hidden;
}

.subscription {
  position: relative;
  width: 100%;
  height: 100%;
}

.subscription .add-email {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 60px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: linear-gradient(to right, #5271ff, #5ce1e6);
  color: #FFFFFF;
  transition: width .35s ease-in-out,
    background .35s ease-in-out;
}

.subscription.done .submit-email {
  width: calc(100% - 2px);
  background: linear-gradient(to right, #5271ff, #5ce1e6);
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* Added */
  align-items: center;
  /* Added */
  justify-content: center;
  /* Added */
  text-align: center;
  line-height: 38px;
  transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;


}

.subscription .submit-email {
  width: 150px;
  /* Increased button width for initial state */
}





.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

.subscription .submit-email .after-submit {
  transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}



















































































.divfooter {
  display: flex;
  justify-content: center;
}







.footer {

  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 0px 30px;
  color: #2f2f2f;


  width: 80vw;

}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
 
  margin-bottom: 2em;
}

.footer-logsec {
  display: flex;
  align-items: center;
}

.footer__addr .footer-heading {
  font-size: 1.9rem;
  font-weight: 900;
  margin-left: 20px;
  background: linear-gradient(to right, #5271ff, #5ce1e6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav>* {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}



.ftlnk {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: 1px solid rgb(210, 210, 210);
}

.ftlink a {
  text-decoration: none;
  color: black;
}




.footer__addr a img {
  background-color: #e7e7e7;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}


.footer__addr a .footer__logo {
  height: 80px;
  width: 80px;
}




.firstpg {
  height: 850px;
  width: 100%;
  /* display: flex; */
  align-items: center;
  padding-top: 350px;

}

/* .firstpg .txtt h1{
    font-size: 45px;
  } */


.txtt {
  margin-left: 120px;
  width: 900px;
  position: relative;
  z-index: 10;
  /* margin-top: */


}


/* #canvas {
    margin-top: 80px;
    position:absolute;
    width: 100%;
    height: 700px;
    z-index: 1;
      } */



#bgvideo {
  
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  opacity: .7;
  
  
}



/* #bgvideo {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
} */






.page2 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  
}

.pg1 {
  width: 40%;
  display: flex;
  justify-content: center;
}



.pg2 {
  width: 40%;

}





.pg1 img {
  height: 350px;
  border-radius: 40px;
}



.mission {
  height: 300px;
  text-align: center;
  padding-top: 70px;

  background: #efefef;
  padding-left: 150px;
  padding-right: 150px;
}










.social-linksss{
  display: flex;
  align-items: center;
}
.social-linksss div{
  margin-right: 20px;
  background-color: #6391f31a;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}















/* SERVICES */

.services{
text-align: center;
height: 800px;
background-color: #ffffff;
padding: 70px;
}


.servicebox{
  display: flex;
  justify-content: space-between;
}

.servicebox div{
  height: 450px;
  width: 340px;
  background-color: #efefef;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#494949);
  z-index: 1;
  padding: 10px;

}

.servicebox div img{
  border-radius: 20px;
  width: 330px;
  height: 440px;
  opacity: 1;
  position: absolute;
  z-index: 1;
  
}

.servicebox div p{
  display: none;
  z-index: 10;
  transition: .5s ease;
}

.servicebox div h3{
  z-index: 10;
  transition: .5s ease;
  background-color: rgba(239, 239, 239, 0.8);

}

.servicebox div:hover img {
  opacity: 0.8;
  transform: scale(1.05);
  cursor: pointer;
}

.servicebox div:hover #headyy{
 opacity: 0;
 display: none;
 cursor: pointer;
}

/* .servicebox div:hover {
  display:block;
  
 } */


.servicebox div:hover p{
 display: block;
 cursor: pointer;
  
 }


 .servicebox div:hover img{
  opacity: 0;
 }

.servicebox div img {
  transition: transform 0.5s ease, opacity 0.3s ease;
}














